
body {
    background-color: #71819b;
}
#top{
    position:relative;
    display:block;
    padding:5px;
}
#theworld{
    display:inline;
    z-index:1;
}
#thelink {
    font-size: 22px;
    color:#1c273a;
}
#header {
    display:inline-block;
    position:relative;
    z-index: 2;
}
h1{color:#d5e0f2;
    margin-left: 30px;
}
#logandsign{
    display:inline-block;;
    position: relative;
    margin-top: 15px;
    float:
}
#signup{
    float:right;
    padding: 5px;
    margin-right: 10px;
    margin-left:20px;
}
#input{
position:relative;
margin-top:10px;
margin-bottom: 15px;

}
#login{
    float:right;
    padding: 5px;
    margin-right: 10px;
    margin-left:30px;

}
#sometext{
}
#url{

}
#alinks{
color: #1d3459;
}
#ct{
    color:#1d3459;
}
#footer {
    background-color: #455b7c;
    max-width: 100%;
}
#faq{
    float:left;
    padding: 5px;
}
#privacy{
    float:left;
    padding: 5px;
    margin-left: 10px;
}
#contact{
    float:left;
    padding: 5px;
    margin-left: 10px;


}
#search {
    float:right;
    padding: 5px;
    margin-left: 10px;
}


#impressum {
    float:right;
    padding: 5px;
    margin-left: 10px;
}
#comment{
height: 50px;
width:600px;

}
#submitcomment{
    padding:10px;
    margin-top: 19px;
    border-radius: 5px;
}
#comment{
    margin-top:20px;
}
.ins{
    color:#132542;
    display:inline-flex;
}
#textarea{
    width:560px;
    height: 40px;
}
